#### Leet code problems

#### Maximum Number of Events That Can Be Attended II

In [1]:
events = [[1,2],[2,3],[3,4]]

import heapq

class Solution:
    def maxEvents(self, events):
        n = len(events)
        
        events.sort()
        
        start, end = float("inf"), float("-inf")
        
        for i,j in events:
            start = min(start,i)
            end = max(end,j)

        c, i, h = 0, 0, []

        for day in range(start,end+1):
            while i < n and events[i][0] == day:
                heapq.heappush(h,events[i][1])
                i += 1

            while h and h[0] < day:
                heapq.heappop(h)

            if h:
                heapq.heappop(h)
                c += 1

        return c
    
s = Solution()
s.maxEvents(events)

3

#### 442.Find All Duplicates in an Array

In [8]:
def duplicates(arr):
    freq_map = {}
    result = []
    for num in arr:
        freq_map[num] = freq_map.get(num, 0) + 1

    for key, value in freq_map.items():
        if value > 1:
            result.append(key)
    return result

duplicates([4,3,2,7,8,2,3,1])

[3, 2]

#### 1. two sum Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target. nums = [2,7,11,15], target = 9

In [18]:
def twoSum(nums, target):
        pair_idx = {}
        for i, num in enumerate(nums):
            pair_idx[num] = i
            #print(pair_idx)
            if target - num in pair_idx:
                # We check if the difference target - num exists as a key in the pair_idx dictionary.
                # If it exists, it means that we have found a pair of numbers whose sum equals the target.
                return [i, pair_idx[target - num]]
            

twoSum([2,7,11,15], 9)

[1, 0]

#### 15. 3 Sum Input: nums = [-1,0,1,2,-1,-4] Output: [[-1,-1,2],[-1,0,1]]

In [25]:
class Solution:
    def threeSum(self, nums): 
        nums.sort() # sorting cause we need to avoid duplicates, with this duplicates will be near to each other
        l=[]
        for i in range(len(nums)):  #this loop will help to fix the one number i.e, i
            if i>0 and nums[i-1]==nums[i]:  #skipping if we found the duplicate of i
                continue 
			
			#NOW FOLLOWING THE RULE OF TWO POINTERS AFTER FIXING THE ONE VALUE (i)
            j=i+1 #taking j pointer larger than i (as said in ques)
            k=len(nums)-1 #taking k pointer from last 
            while j<k: 
                s=nums[i]+nums[j]+nums[k] 
                if s>0: #if sum s is greater than 0(target) means the larger value(from right as nums is sorted i.e, k at right) 
				#is taken and it is not able to sum up to the target
                    k-=1  #so take value less than previous
                elif s<0: #if sum s is less than 0(target) means the shorter value(from left as nums is sorted i.e, j at left) 
				#is taken and it is not able to sum up to the target
                    j+=1  #so take value greater than previous
                else:
                    l.append([nums[i],nums[j],nums[k]]) #if sum s found equal to the target (0)
                    j+=1 
                    while nums[j-1]==nums[j] and j<k: #skipping if we found the duplicate of j and we dont need to check 
					#the duplicate of k cause it will automatically skip the duplicate by the adjustment of i and j
                        j+=1   
        return l

s = Solution()
s.threeSum([-1,0,1,2,-1,-4])

[[-1, -1, 2], [-1, 0, 1]]

#### 238.Product of Array except itself Input: nums = [1,2,3,4] Output: [24,12,8,6]
- https://www.geeksforgeeks.org/a-product-array-puzzle/
- https://www.youtube.com/watch?v=bNvIQI2wAjk

In [45]:
def productArray(arr, n): 
    lst = []
    # Base case 
    if n == 1: 
        print(0) 
        return
  
    i, temp = 1, 1
  
    # Allocate memory for the product array 
    prod = [1 for i in range(n)] 
    print(prod)
    # Initialize the product array as 1 
  
    # In this loop, temp variable contains product of 
    # elements on left side excluding arr[i] 
    for i in range(n): 
        prod[i] = temp 
        temp *= arr[i] 
    print(prod)
    # Initialize temp to 1 for product on right side 
    temp = 1
  
    # In this loop, temp variable contains product of 
    # elements on right side excluding arr[i] 
    for i in range(n - 1, -1, -1): 
        prod[i] *= temp 
        temp *= arr[i] 
    print(prod)
    # Print the constructed prod array 
    for i in range(n): 
        lst.append(prod[i])
    return lst
  
  
# Driver Code 
arr = [1,2,3,4] 
n = len(arr) 
print("The product array is: n") 
productArray(arr, n)

The product array is: n
[1, 1, 1, 1]
[1, 1, 2, 6]
[24, 12, 8, 6]

[24, 12, 8, 6]

#### 74.Search in a row wise and column wise sorted matrix
- https://www.youtube.com/watch?v=Ber2pi2C0j0

In [51]:
def search(mat, n, x):
    if(n == 0):
        return -1
 
    # Traverse through the matrix
    for i in range(n):
        for j in range(n):
 
            # If the element is found
            if(mat[i][j] == x):
                print("Element found at (", i, ",", j, ")")
                return 1
 
    print(" Element not found")
    return 0

matrix = [[1,3,5,7],[10,11,16,20],[23,30,34,60]]
#target = 3
search(matrix,n=4, x=3)

Element found at ( 0 , 1 )

1

#### 121. Best Time to Buy and Sell Stock II
- https://www.youtube.com/watch?v=1pkOgXD63yU&list=PLot-Xpze53leOBgcVsJBEGrHPd_7x_koV

In [11]:
def maxProfit(prices, n):
    buy = prices[0]
    max_profit = 0
    for i in range(1, n):
 
        # Checking for lower buy value
        if (buy > prices[i]):
            buy = prices[i]
 
        # Checking for higher profit
        elif (prices[i] - buy > max_profit):
            max_profit = prices[i] - buy
    return max_profit

prices = [7, 1, 5, 6, 4]
n = len(prices)
maxProfit(prices, n)

5

####  438. Group Anagrams
- https://www.youtube.com/watch?v=G8xtZy0fDKg&list=PLot-Xpze53leOBgcVsJBEGrHPd_7x_koV&index=5

In [11]:
from collections import Counter, defaultdict
def solve(words):
    # defaultdict will create a new list if the key is not found in the dictionary
    m = defaultdict(list)
 
    # loop over all the words
    for word in words:
        # Counter('cat') :
        #    counts the frequency of the characters present in a string
        #    >>> Counter({'c': 1, 'a': 1, 't': 1})
 
        # frozenset(dict(Counter('cat')).items()) :
        #    frozenset takes an iterable object as input and makes them immutable.
        #    So that hash(frozenset(Counter('cat'))) is equal to
        #   hash of other 'cat' anagrams 
        #    >>> frozenset({('c', 1), ('a', 1), ('t', 1)})
        m[frozenset(dict(Counter(word)).items())].append(word)
    return [v for k, v in m.items()]
 
solve(["cat", "dog", "tac", "god", "act"])

[['cat', 'tac', 'act'], ['dog', 'god']]

#### 33.Search in Rotated Sorted Array

In [13]:
def search_rotated_array(arr, key):
    n = len(arr)
    for i in range(n):
        if arr[i] == key:
            return i
    return -1

search_rotated_array([4,5,6,7,0,1,2], 0)

4

#### 32. Longest Valid Parentheses

In [25]:
def findMaxLen(string):
    n = len(string)

    # Create a stack and push -1
    # as initial index to it.
    stk = []
    stk.append(-1)

    # Initialize result
    result = 0

    # Traverse all characters of given string
    for i in range(n):

        # If opening bracket, push index of it
        if string[i] == '(':
            stk.append(i)
        
        # If closing bracket, i.e., str[i] = ')'
        else:

            # Pop the previous opening bracket's index
            if len(stk) != 0:
                stk.pop()

            # Check if this length formed with base of
            # current valid substring is more than max
            # so far
            if len(stk) != 0:
                result = max(result,
                            i - stk[len(stk)-1])

            # If stack is empty. push current index as
            # base for next valid substring (if any)
            else:
                stk.append(i)

    return result

findMaxLen(")()())")

4

#### 1456. Maximum Number of Vowels in a Substring of Given Length

In [37]:
def maxVowels(s: str, k: int):
    vowels = frozenset("aeiou")
    cnt = ans = sum(s[i] in vowels for i in range(k))
    for i in range(k, len(s)):
        cnt += (s[i] in vowels) - (s[i - k] in vowels)
        ans = max(cnt, ans)
    return ans

maxVowels("abciiidef", 3)

3

In [41]:
def longestVowel(s): 
    count, res = 0, 0
    vowels = ['a','e','i','o','u']
    for i in range(len(s)): 
        if s[i] in vowels: 
                count += 1
        else: 
            # check previous value 
            # is greater then or not 
            res = max(res, count) 
            count = 0
    return max(res, count) 

longestVowel("theeare")

3

#### 200. Number of Islands

In [53]:
def numIslands(grid):

    # length of row and column
    global row , col
    row , col = len(grid) , len(grid[0])

    # Getting value from grid
    def getValue(i,j,grid):
        global row , col
        if -1 < i < row and -1 < j < col:
            return grid[i][j]
        return '0'

    # remove connecting land 
    def connecting(i,j,grid):
        grid[i][j] = '0'

        if getValue(i-1,j,grid) == '1':
            connecting(i-1,j,grid)
        if getValue(i+1,j,grid) == '1':
            connecting(i+1,j,grid)
        if getValue(i,j-1,grid) == '1':
            connecting(i,j-1,grid)
        if getValue(i,j+1,grid) == '1':
            connecting(i,j+1,grid)

    # iterate over grid
    count = 0
    for i in range(row):
        for j in range(col):
            if grid[i][j] == '1':
                connecting(i,j,grid)
                count += 1
    return count

In [54]:
numIslands([["1","1","0","0","0"],["1","1","0","0","0"],["0","0","1","0","0"],["0","0","0","1","1"]])

3

#### flattening of dictionary

In [71]:
def flatten_dict(dd, separator ='_', prefix =''):
	return { prefix + separator + k if prefix else k : v
			for kk, vv in dd.items()
			for k, v in flatten_dict(vv, separator, kk).items()
			} if isinstance(dd, dict) else { prefix : dd }
		
# initialising_dictionary
ini_dict = {'geeks': {'Geeks': {'for': 7}},
			'for': {'geeks': {'Geeks': 3}},
			'Geeks': {'for': {'for': 1, 'geeks': 4}}}

# printing initial dictionary
print ("initial_dictionary", str(ini_dict))

# printing final dictionary
print ("final_dictionary", str(flatten_dict(ini_dict)))

initial_dictionary {'geeks': {'Geeks': {'for': 7}}, 'for': {'geeks': {'Geeks': 3}}, 'Geeks': {'for': {'for': 1, 'geeks': 4}}}
final_dictionary {'geeks_Geeks_for': 7, 'for_geeks_Geeks': 3, 'Geeks_for_for': 1, 'Geeks_for_geeks': 4}

In [72]:
import pandas as pd

ini_dict = {'geeks': {'Geeks': {'for': 7}},
            'for': {'geeks': {'Geeks': 3}},
            'Geeks': {'for': {'for': 1, 'geeks': 4}}}
df = pd.json_normalize(ini_dict, sep='_')
df.iloc[0].to_dict()

{'geeks_Geeks_for': 7,
 'for_geeks_Geeks': 3,
 'Geeks_for_for': 1,
 'Geeks_for_geeks': 4}

#### 1045. Customers Who Bought All Products
- https://www.youtube.com/watch?v=JyGknIby4Ko
- select customer_id from customer
group by customer_id having count(distinct product_key)=(select count(product_key) from product)

#### 197. Rising Temperature
- https://www.youtube.com/watch?v=CTg-81wvl2U
- select a.id from weather a inner join weather b on datediff(dd, a.recordDate, b.recordDate) = 1
and a.temperature > b.temperature

#### Second Highest Salary
- select * from employee where salary = (select max(salary) from employee where salary < (select max(salary) from employee))

#### 1070. Product Sales Analysis III
- https://www.youtube.com/watch?v=L2dvdq-M-Rs
- select product_id, year as first_year, quantity, price from (
	select product_id, year, quantity, price, DENSE_RANK() over(partition by product_id order by year asc) as dns
	from sales 
	)as k  where dns =1

#### 262. Trips and Users
- https://www.youtube.com/watch?v=U15X79REEX8
- select request as day, round(sum(case when status in ('cancel') then 1 else 0 end)/count(1),2) as cancellation_rate from trips 
where request between '2013-10-01' and '2013-10-03'
and client_id not in (select USER_ID from users where banned='yes')
and driver_id not in (select USER_ID from users where banned='yes')
group by 1

#### 2356. Number of Unique Subjects Taught by Each Teacher
- select teacher_id, count(distinct subject_id) as cnt from teacher group by teacher_id

#### Top 5 product from sales amount
- Select product , sum ( sales amount ) from table name group by product order total sakes desc limit 5

### pandas

In [74]:
import pandas as pd
st_data = [[1, 15],[2, 11],[3, 11],[4, 20]]
pd.DataFrame(st_data, columns=['St_id','age'])

   St_id  age
0      1   15
1      2   11
2      3   11
3      4   20

In [81]:
df = pd.DataFrame({'st_id':[101,53,128,3],'name':['hey','hi','hell','me'],'age':[13,10,6,11]})
df[df['st_id']==101]

   st_id name  age
0    101  hey   13

In [86]:
df = pd.DataFrame({'name':['hey','hi','hell','me'],'age':[13,10,6,11]})
df['age'] = df['age']*2
df

   name  age
0   hey   26
1    hi   20
2  hell   12
3    me   22

In [93]:
df = pd.DataFrame({'st_id':[101,53,128,3],'name':['hey','hi','hell','me'],'age':[13,10,6,11]})
#df.melt?

In [94]:
animals = animals[animals["weight"]>100]
animals = animals.sort_values(by="weight",ascending=False)
f = pd.DataFrame(animals["name"])

NameError: name 'animals' is not defined

### Write Python code to read a 5GB CSV file without memory errors.

In [ ]:
import pandas as pd

# Path to the CSV file
file_path = 'large_file.csv'

# Define chunk size (number of rows per chunk)
chunk_size = 100000  # You can adjust this based on your system memory

# Iterate through the file in chunks
for chunk in pd.read_csv(file_path, chunksize=chunk_size):
    # Process each chunk here
    # For example, just print the shape of each chunk
    print(f"Processing chunk with shape: {chunk.shape}")

    # You can also apply transformations, filtering, aggregation etc. here.
    # For example:
    # chunk_filtered = chunk[chunk['column_name'] > 1000]
    # chunk_filtered.to_csv('processed_output.csv', mode='a', index=False, header=False)

### Chunk a large dataframe into batches of 5000 rows and insert into SQL DB.

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Sample large dataframe for demonstration (replace with your actual data)
df = pd.DataFrame({
    'id': range(1, 100001),
    'name': ['Name_' + str(i) for i in range(1, 100001)]
})

# Database connection string (modify according to your DB)
# Example for MySQL:
# mysql+pymysql://username:password@host:port/dbname

connection_string = "mysql+pymysql://user:password@localhost:3306/my_database"
engine = create_engine(connection_string)

# Define chunk size
chunk_size = 5000

# Insert in chunks
for start in range(0, len(df), chunk_size):
    end = start + chunk_size
    chunk = df.iloc[start:end]

    # Insert chunk into DB
    chunk.to_sql(
        name='target_table',
        con=engine,
        if_exists='append',   # Append to existing table
        index=False           # Don't write dataframe index to DB
    )

    print(f"Inserted rows {start} to {end-1}")

### Handle missing values logically in a pandas dataframe.

In [2]:
import pandas as pd
import numpy as np

# Sample dataframe with missing values
data = {
    'ID': [1, 2, 3, 4, 5],
    'Age': [25, np.nan, 35, np.nan, 45],
    'Gender': ['M', 'F', np.nan, 'F', 'M'],
    'Salary': [50000, 60000, np.nan, 80000, 90000]
}
df = pd.DataFrame(data)
df

   ID   Age Gender   Salary
0   1  25.0      M  50000.0
1   2   NaN      F  60000.0
2   3  35.0    NaN      NaN
3   4   NaN      F  80000.0
4   5  45.0      M  90000.0

In [4]:
# Fill with mean/median
df['Age'] = df['Age'].fillna(df['Age'].median())
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())
df

   ID   Age Gender   Salary
0   1  25.0      M  50000.0
1   2  35.0      F  60000.0
2   3  35.0    NaN  70000.0
3   4  35.0      F  80000.0
4   5  45.0      M  90000.0

In [5]:
# Use forward fill / backward fill (good for time-series)

df['Age'] = df['Age'].fillna(method='ffill')
df['Age'] = df['Age'].fillna(method='bfill')
df

   ID   Age Gender   Salary
0   1  25.0      M  50000.0
1   2  35.0      F  60000.0
2   3  35.0    NaN  70000.0
3   4  35.0      F  80000.0
4   5  45.0      M  90000.0

### Write logic to compare two datasets and identify mismatches.

In [6]:
import pandas as pd

# Sample data
data1 = {
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Salary': [50000, 60000, 70000, 80000]
}

data2 = {
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'CharlieX', 'David'],
    'Salary': [50000, 65000, 70000, 90000]
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merge both datasets on ID for comparison
merged = df1.merge(df2, on='ID', how='outer', suffixes=('_df1', '_df2'))

# Create mismatch flags for each column
for col in ['Name', 'Salary']:
    merged[f'{col}_mismatch'] = merged[f'{col}_df1'] != merged[f'{col}_df2']

# Filter rows where any mismatch exists
mismatches = merged[merged[[f'{col}_mismatch' for col in ['Name', 'Salary']]].any(axis=1)]

print("Mismatched Records:")
print(mismatches)

Mismatched Records:
   ID Name_df1  Salary_df1  Name_df2  Salary_df2  Name_mismatch  \
1   2      Bob       60000       Bob       65000          False
2   3  Charlie       70000  CharlieX       70000           True
3   4    David       80000     David       90000          False

   Salary_mismatch
1             True
2            False
3             True

In [7]:
#Bonus (if no primary key present)
comparison = df1.compare(df2, align_axis=0)
print(comparison)

             Name   Salary
1 self        NaN  60000.0
  other       NaN  65000.0
2 self    Charlie      NaN
  other  CharlieX      NaN
3 self        NaN  80000.0
  other       NaN  90000.0

### Design a simple ETL pipeline using Python (without using frameworks).

In [8]:
import pandas as pd
from sqlalchemy import create_engine
import os

# ---------- CONFIGURATION ----------
CSV_FILE = 'input_data.csv'
DB_CONNECTION_STRING = 'sqlite:///etl_db.sqlite3'  # You can replace with your DB connection string

# ---------- EXTRACT ----------
def extract(csv_file):
    print("Extracting data...")
    df = pd.read_csv(csv_file)
    return df

# ---------- TRANSFORM ----------
def transform(df):
    print("Transforming data...")

    # Example transformations:
    df['Name'] = df['Name'].str.strip().str.title()  # clean name format
    df['Salary'] = df['Salary'].fillna(50000)        # fill missing salaries
    df['JoinDate'] = pd.to_datetime(df['JoinDate'], errors='coerce')  # convert date
    df = df.dropna(subset=['JoinDate'])              # drop rows with invalid dates

    return df

# ---------- LOAD ----------
def load(df, db_connection_string, table_name='employees'):
    print("Loading data into database...")
    engine = create_engine(db_connection_string)
    df.to_sql(table_name, con=engine, if_exists='replace', index=False)
    print("Load completed.")

# ---------- MAIN ETL ----------
def run_etl():
    df_extracted = extract(CSV_FILE)
    df_transformed = transform(df_extracted)
    load(df_transformed, DB_CONNECTION_STRING)

if __name__ == "__main__":
    run_etl()

Extracting data...

FileNotFoundError: [Errno 2] No such file or directory: 'input_data.csv'